.pageHeaderContainer {
  max-width: 1152px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  max-width: 1152px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  max-width: 680px;
  text-align: center;
  text-align: -webkit-center;
}

.pageTitle {
  font-size: 1.875rem;
  font-weight: 800;
  text-align: center;
  color: var(--primary-color);
  margin: 0;
  line-height: 1.75rem;
}

.pageSubtitle {
  font-size: 1.225rem;
  color: var(--text-light);
  margin: 1.3rem 0 0 0;
  line-height: 1.75rem;
}
