@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #5b21b6;
  --hover-color: #4c1d95;
  --price-color: #5925af;
  --bg-light: #f7fafc;
  --text-dark: #2d3748;
  --text-light: #636974;
  --border-color: #d1d5db;
  --dark-border-color: #4b5563;
  --bg-hover-color: #5a21b65e;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --hover-shadow-color: rgba(0, 0, 0, 0.1);
  --card-bg: #ffffff;
  --dark-card-bg: #1f2937;
  --padding-x: 24px;
  --padding-y: 16px;
  --font-family: "Josefin Sans", sans-serif;
  --font-weight-bold: 700;
  --font-size-lg: 1.125rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh; 
}

html, body  {
  font-family: var(--font-family);
  background-color: var(--bg-light);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
  height: 100%;
}
