.productListingsContainer {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.productListingsGrid {
  display: flex;
  grid-template-columns: 1fr;
  gap: 2rem 1.5rem;
  padding: 1rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.productListingsEmpty {
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  color: var(--primary-color);
}
