.listingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  max-width: 100%;
}

.productListingsContainer {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.productListingsGrid {
  display: flex;
  grid-template-columns: 1fr;
  gap: 2rem 1.5rem;
  padding: 1rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
