.title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-weight: 700;
  background: linear-gradient(90deg,var(--text-dark), var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.featureCard {
  background: var(--card-bg);
  color: var(--text-color);
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  width: 100dvw;
  max-width: 30dvw;
}

.featureCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}

@media screen and (max-width: 769px) {
  .featureCard {
    max-width: 35dvw;
  }
}

@media screen and (max-width: 426px) {
  .featureCard {
    max-width: 80dvw;
  }
}


.section {
  padding: 1rem 1.5rem;
}

.container {
  max-width: 100dvw;
  margin: 0 auto;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 100dvw;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-items: stretch;
}
